<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwclg.web.mapper.ebnews.CarouselMapper">
    <resultMap id="BaseResultMap" type="com.mwclg.web.entity.po.Carousel">
        <id column="carousel_id" property="carouselId" jdbcType="INTEGER"/>
        <result column="carousel_name" property="carouselName"
                jdbcType="VARCHAR"/>
        <result column="sort_no" property="sortNo" jdbcType="INTEGER"/>
        <result column="carousel_img" property="carouselImg" jdbcType="VARCHAR"/>
        <result column="carousel_available" property="carouselAvailable"
                jdbcType="VARCHAR"/>
        <result column="carousel_url" property="carouselUrl" jdbcType="VARCHAR"/>
        <result column="column_id" property="columnId" jdbcType="INTEGER"/>
        <result column="carousel_from" property="carouselFrom" jdbcType="INTEGER"/>
        <result column="carousel_type" property="carouselType"
                jdbcType="INTEGER"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
		carousel_id, carousel_name, sort_no, carousel_img,
		carousel_available,carousel_type,carousel_url,column_id,create_by,
		create_time, update_by, update_time, carousel_from
	</sql>
    <!-- web -->
    <select id="selectCarouselList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_carousel where 1=1
        and carousel_available='0' and
        carousel_type=0
        AND carousel_from = 1
        ORDER BY sort_no ASC,create_time ASC limit 0,6
    </select>
    <!-- admin -->
    <select id="selectHomeCarouselList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tbl_carousel WHERE 1=1 AND carousel_type=0
        ORDER BY sort_no ASC,create_time ASC
    </select>
    <select id="selectCarousel" resultMap="BaseResultMap"
            resultType="java.lang.Integer">
		SELECT car.*, cc.alias_name AS aliasName
		FROM tbl_col_car cc
		LEFT JOIN
		tbl_carousel car ON car.column_id = cc.column_id where 1=1
		and
		car.column_id=#{columnId,jdbcType=INTEGER}
	</select>
	
	
	
	
</mapper>