<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwclg.common.entity.OnlineAptMapper">
    <resultMap id="BaseResultMap" type="com.mwclg.web.entity.po.OnlineApt">
        <id column="apt_id" property="aptId" jdbcType="INTEGER"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="phone_num" property="phoneNum" jdbcType="VARCHAR"/>
        <result column="customer_email" property="customerEmail" jdbcType="VARCHAR"/>
        <result column="service_type" property="serviceType" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP"/>
        <result column="handle_time" property="handleTime" jdbcType="TIMESTAMP"/>
        <result column="handle_status" property="handleStatus" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    apt_id, company_name, customer_name, phone_num, customer_email, service_type, description, 
    submit_time, handle_time, handle_status
  </sql>


</mapper>