<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwclg.common.entity.AdvertisementMapper">
    <resultMap id="BaseResultMap" type="com.mwclg.web.entity.po.Advertisement">
        <id column="ad_id" property="adId" jdbcType="INTEGER"/>
        <result column="sort_no" property="sortNo" jdbcType="INTEGER"/>
        <result column="ad_type" property="adType" jdbcType="INTEGER"/>
        <result column="ad_name" property="adName" jdbcType="VARCHAR"/>
        <result column="ad_picture" property="adPicture" jdbcType="VARCHAR"/>
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="delete_status" property="deleteStatus" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    ad_id, sort_no, ad_type, ad_name, ad_picture, pic_url, start_time, end_time, create_time, 
    create_by, update_time, update_by, delete_status
  </sql>
    <select id="selectAdsByConditions" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tbl_ad where 1=1
        <if test=" adType !=null and adType !='' ">
            AND ad_type = #{adType,jdbcType=INTEGER}
        </if>
        ORDER BY start_time DESC
    </select>

    <!-- 根据广告位置获取一条最新的广告 -->
    <select id="selectLatestAdByPosition" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tbl_ad where 1=1
        AND ad_type = #{adType,jdbcType=INTEGER}
        ORDER BY start_time DESC LIMIT 1
    </select>
</mapper>